<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <link rel = "stylesheet" href = "{% static 'css/style.css' %}">
  <meta content="" name="description">
  <meta content="" name="keywords">

 <!-- Favicons -->
 <link href="{%static 'img/favicon.png'%}" rel="icon">
 <link href="{% static 'img/apple-touch-icon.png'%}" rel="apple-touch-icon">

 <!-- Google Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

 <!-- Vendor CSS Files -->
 <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
 <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <!-- <link href="css/style.css" rel="stylesheet"> -->

  <!-- =======================================================
  * Template Name: WeBuild - v4.6.0
  * Template URL: https://bootstrapmade.com/free-bootstrap-coming-soon-template-countdwon/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container-fluid d-flex justify-content-between align-items-center"></div>
  </header><!-- End #header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
    <h1 class="text-light"><span>weather & Gather</span></h1>
    <h1 class="text-light"><span>로그인 완료</span></h1>
    <h2 class="text-light"><span>오늘의 날씨 정보와 간단한 옷차림 요약을 나에게 카톡으로 보내보세요</span></h2>
    <button style = "color:white">
        <a href="/home/kakaomessage_climate" class = "text-black"><span>깨똑 보내기</span></a>
    </button>
    <br>
    <br>
    <h3 class = "text-light"><span>카카오톡 로그아웃을 원합니다.</span></h3>
    <form action="/home/kakaoLogout" method="GET">
        {% comment %} <button type = "카카오 로그아웃">
            <img src = '/static/img/kakaologo.jpg' width = 50, height = 50 />
        </button> {% endcomment %}
        <button style = "color:white">
          <a href="/home/kakaoLogout" class = "text-black"><span>로그아웃</span></a>
        </button>
      <br>
      <br>
      <h2 class = "text-light"><span>Home 화면으로 돌아가기></span></h2>
      <button>
          <a href="/home/index" class = "text-black"><span>HOME</span></a>
      </button>
    </form>
    </div>  
 <!-- Vendor JS Files -->
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>